.wrap-body {
    width: 100%;
    font-size: 12px;
    overflow: hidden;
    padding: 2% 0 5%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.8);
    .container {
        max-width: 1000px;
        overflow: hidden;
        margin: 0 auto;
        .row {
            overflow: hidden;
        }
    }
}
.fade-in {
    transition: opacity 1s;
    -moz-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
}
.slide-wrap {
    dd {
        margin-left: 0;
    }
}
.slide-btn {
    display: block;
    padding: .8em 1em;
    background-color: $key-gold;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #ddd;
    cursor: pointer;
    color: $key-gray;
    position: relative;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
    &:after {
        display: block;
        content: "";
        width: 8px;
        height: 8px;
        border-bottom: 2px solid $key-gray;
        border-right: 2px solid $key-gray;
        position: absolute;
        right: 3%;
        top: 50%;
        margin-top: -4px;
        transform: rotate(45deg);
        transition-duration: 0.3s;
    }
    &.active:after {
        transform: rotate(-135deg);
        transition-duration: 0.3s;
    }
    .key-color {
        color: #fff;
    }
}
.container {
    .pankuzu {
        font-size: 12px;
        padding: 0 2%;
        a {
            color: $key-gray;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .content {
        padding: 5% 2%;
        .section {
            &:not(:last-child) {
                margin: 0 0 3vw;
            }
        }
        h2 {
            margin: 0 0 5%;
            padding: .2em 0 .2em .5em;
            border-left: 5px solid $key-gold;
            line-height: 1.2;
            small {
                display: block;
                font-size: .5em;
            }
            em {
                font-style: normal;
                //font-size: 16px;
                letter-spacing: 3px;
            }
        }
        h3 {
            margin: 0 0 3%;
            padding: 0 0 .4em;
            border-bottom: 1px solid $key-gold;
            //color: #b3ae8d;
        }
        h4 {
            color: #b3ae8d;
        }
        .slider {
            li {
                padding: 0 5px;
                box-sizing: border-box;
            }
        }
        ul, ol {
            padding-left: 1.5em;
        }
        dl {
            dt {
                /*font-size: 1.2em;*/
                margin-bottom: .5em;
                font-weight: bold;
            }
            dd {
                margin-left: 1em;
                &:not(:last-child) {
                    margin-bottom: 1em;
                }
            }
            &.qa {
                margin: 0;
                &:not(:last-child) {
                    margin-bottom: 2em;
                }
                em {
                    font-size: 1.5em;
                    font-weight: bold;
                    padding-right: 1em;
                }
                dt {
                    text-indent: -2.7em;
                    padding-left: 2.7em;
                }
                dd {
                    margin: 0;
                    text-indent: -2.7em;
                    padding-left: 2.7em;
                }
            }
        }
        .icon {
            padding-left: 2em;
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 2em 2em;
            &.tel {
                background-image: url(../img/icon_tel.png);
            }
        }
        img {
            width: 100%;
            height: auto;
        }

        // .content 背景あり設定
        &.bg {
            color: #fff;
            ul {
                list-style-type: none;
                padding: 0;
                li {
                    background: rgba(0,0,0,.5);
                    border: 1px solid #fff;
                    border-radius: 8px;
                    &:not(:last-child) {
                        margin-bottom: 1em;
                    }
                    a {
                        display: block;
                        color: #fff;
                        text-decoration: none;
                        padding: 1em;
                        &.arr {
                            position: relative;
                            &:after {
                                display: block;
                                content: "";
                                position: absolute;
                                top: 50%;
                                right: 3%;
                                width: 12px;
                                height: 12px;
                                border-bottom: 3px solid #7f7f7f;
                                border-right: 3px solid #7f7f7f;
                                transform: rotate(-45deg);
                                margin-top: -6px;
                            }
                        }
                        &:hover {
                            opacity: .8;
                        }
                    }
                }
            }
        }
        &.bg-type01 {
            background: url(../img/bg_top_provide.jpg) no-repeat 50% 50%/cover;
            
        }
        &.bg-type02 {
            background: url(../img/bg_top_profile.jpg) no-repeat 50% 50%/cover;
        }

        // お問い合わせエリア
        &.inquiry {
            text-align: center;
            h3 {
                border: none;
            }
            p {
                &.icon {
                    display: inline-block;
                    margin-bottom: 0;
                }
            }
            b {
                font-size: 2em;
            }
            ul {
                display: table;
                margin: 0;
                padding: 0;
                list-style-type: none;
                width: 100%;
                li {
                    display: table-cell;
                    padding: 0 1em;
                    a {
                        display: block;
                        text-decoration: none;
                        color: $key-gray;
                        padding: 1em;
                        border: 2px solid $key-gold;
                        border-radius: 8px;
                        text-align: center;
                        &:hover {
                            opacity: .8;
                            background-color: #fffdf0;
                        }
                    }
                }
            }
        }
    }
}
